$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #EFEFF0;
$gray-300: #D8D9DA;
$gray-400: #C2C3C6;
$gray-500: #767676;
$gray-600: #414246;
$gray-700: #2f3032;
$gray-800: #1C1D1E;
$gray-900: #141414;
$black:    #000;

$min-contrast-ratio:   3;

$color-contrast-dark: $gray-800;
$enable-rounded: false;
$enable-rfs: false;

$body-color: $gray-800;
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 600;
$text-muted: $gray-500;
$btn-font-weight: 600;
$btn-link-disabled-color: $gray-500;
$input-border-color: $gray-500;
$input-placeholder-color: $gray-500;
// $dropdown-divider-bg: $gray-300;
// $dropdown-link-hover-bg: $gray-200;
// $dropdown-link-disabled-color: $gray-500;
$popover-max-width: 400px;
$mark-bg: rgba(255, 255, 0, 0.35);
