$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #EFEFF0;
$gray-300: #D8D9DA;
$gray-400: #C2C3C6;
$gray-500: #767676;
$gray-600: #414246;
$gray-700: #2f3032;
$gray-800: #1C1D1E;
$gray-900: #141414;
$black:    #000;

$blue:    #005274;
$indigo:  #61165E;
$purple:  #440F42;
$pink:    #D115C9;
$red:     #A41022;
$orange:  #CC4E00;
$yellow:  #B27A03;
$green:   #068853;
$teal:    #00E788;
$cyan:    #006D76;

$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $orange;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-900;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark,
  "gray":       $gray-600,
  "access-open": $indigo,
  "access-free": $yellow,
  "twitter":    #1da1f2,
  "orcid":      #a6ce39,
  "linkedin":   #0077B5,
  "facebook":   #3b5998
);

$min-contrast-ratio:   3;

$color-contrast-dark: $gray-800;
$enable-rounded: false;
$enable-rfs: false;

$body-color: $gray-800;
$font-family-sans-serif: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$headings-font-weight: 600;
$text-muted: $gray-500;
$btn-font-weight: 600;
$btn-link-disabled-color: $gray-500;
$input-border-color: $gray-500;
$input-placeholder-color: $gray-500;
$popover-max-width: 400px;
$mark-bg: rgba(255, 255, 0, 0.35);
